@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


.App {
  text-align: center;
}

body {
  background-color:#242424;
  color: #fac9c9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list > li {
  padding: 10px;
}

.nav-list > li > button {
  border: none;
  color: inherit;
  background-color:inherit;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.nav-logo {
  padding-top: 15px;
  width: 80px;
  cursor: pointer;
}

.list > li {
  padding: 5px;
  /* font-family: Caveat, Consolas, "Courier New", monospace; */
  font-size: larger;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 70px;
  font-size: large;
  text-align: center;
  font-style: italic;
  background-color: rgb(172, 168, 168);
  padding-bottom: 10px;
  font-family: "Ubuntu Mono", monospace;
}

.myname {
  color:rgb(255, 15, 235);
}

.title{
  padding-top: 40px;
}

a {
  color: inherit;

}